@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.h-all{
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    font-size: 40px;
}

.h-visits{
    font-size: 50px;
    font-family: 'Inconsolata', monospace;
}